// SASS Color Variables
// Backgrounds
$widgetBackground: #FFFFFF;
// Tab colors
$selectedTabColor: #336699;
// Links
$linkColor: #003366;
$hoverColor: #FF6600;
// Border colors
$borderColor: #CCCCCC;
// Text colors
$headingColor: #D2700E;
$baseTextColor: #505050;
// Shadow colors
$lightTextShadowColor: rgba(255,255,255,0.75);
$darkTextShadowColor: rgba(107, 107, 107, 0.9);
//Button colors
$defaultButton: #d0d0d0;
$primaryButton: #6aa0d6;
//Calendar
$cellColor: #ECECEC;

// SASS Mixins
@mixin georgia {
    font-family: Georgia, Garamond, "Times New Roman", "MS Serif", "New York", serif;
}

@mixin arial {
    font-family: Arial, Helvetica, sans-serif;
}

@mixin border-radius($radius...) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($shadow...) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin linear-gradient($topColor, $bottomColor) {
	background-color: mix($topColor, $bottomColor);
	background-image: moz-linear-gradient(top, $topColor, $bottomColor);
	background-image: webkit-gradient(linear, 0 0, 0 100%, from($topColor), to($bottomColor));
	background-image: -webkit-linear-gradient(top, $topColor, $bottomColor);
	background-image: -o-linear-gradient(top, $topColor, $bottomColor);
	background-image: linear-gradient(to bottom, $topColor, $bottomColor);
	background-repeat: repeat-x;
}

@mixin btn-dark($color) {
	@extend .btn;
	@include linear-gradient(lighten($color, 20%), darken($color, 20%));
	color: #ffffff;
	border-color: darken($color, 50%);
	text-shadow: 0 1px 1px $darkTextShadowColor;
}

@mixin btn-light($color) {
	@extend .btn;
	@include linear-gradient(lighten($color, 20%), darken($color, 10%));
	border-color: $color;
}


//Structure
body {
	@include arial;
    font-size: small;
	color: $baseTextColor;
	background-color: #fff;
}

a:link {
    color: $linkColor;
}

a:hover, a:focus {
    color: $hoverColor;
}

.btn {
	padding: 5px; //Configure these for Prospects
	font-size: 0.85em;
	font-weight: bold;
	color: #333333;
	text-shadow: 0 1px 1px $lightTextShadowColor;
	cursor: pointer;
	line-height: 1.1em;
	border: 1px solid $defaultButton;
	@include linear-gradient(lighten($defaultButton, 20%), darken($defaultButton, 10%));
	@include box-shadow(0px 1px 2px #888888);
	@include border-radius(6px);
    &:hover, &:focus {
        @include linear-gradient(lighten($defaultButton, 15%), darken($defaultButton, 10%));        
    }
    &:active {
        background: darken($defaultButton, 10%);
    }
}

.btn-primary {
	@include btn-dark($primaryButton);
    &:hover, &:focus {
        @include linear-gradient(lighten($primaryButton, 15%), darken($primaryButton, 20%));
    }
    &:active {
        background: darken($primaryButton, 20%);
    }
}

//Widget
#w4 {
	@include box-shadow(0 5px 5px lighten($borderColor, 10%));
	@include border-radius(5px);
	border: 1px solid $borderColor;
	margin: 0 auto;
    background: $widgetBackground;
	.inner {
		padding: 1em;
		h2 {
			@include georgia;
			color: $headingColor;
			font-weight: bold;
			font-size: 1.15em;
			margin-bottom: 0.85em;
		}

	}
    p {
        padding-bottom: 0.5em;
    }
}

//Lists
#w4 ul {
	font-size: 0.85em;
	line-height: 1.3em;
	margin: 2px 0 10px;
	list-style: none;
	li {
		padding: 4px 0;
		border-top: 1px solid #F3F3F3;
		div.left {
			width: 70%;
		}
		div.right {
			text-align: right;
			width: 30%;
		}
		.item {
			line-height: 12px;
			margin: 0 5px;
		}
		.item_heading {
			color: lighten($headingColor, 25%);
			padding-bottom: 3px;
			font-weight: bold;
			margin: 0 5px;
		}
		.primary {
			font-size: 1.1em;
			margin: 0 5px 3px 5px;
		}
		.secondary, .tertiary {
			@extend .primary;
			font-size: 1em;
		}
		.tertiary {
			color: lighten($baseTextColor, 25%);
		}
	}
}

//Tabs
ul.tabs {
    display: block;
    list-style-type: none;
    margin: 0;
    margin-top: 1em; //TEMP
    padding: 0;
    z-index: 1;
    font-size: 0.85em;
    padding-left: 0.5em;
    li {
        float: left;
        margin: 0 2px 0 3px;
        margin-bottom: -1px;
        a {
            display: block;
            padding: 6px 12px 5px;
            font-weight: bold;
            text-decoration: none;
            color: lighten($selectedTabColor, 20%);
            font-size: 1.15em;
            &:hover, &:focus, &:active {
                color: $hoverColor;
            }
        }
        &.selected {
            border: 1px solid $borderColor;
            border-bottom: none;
            @include border-radius(5px 5px 0 0);
            background: $widgetBackground;
            a {
                color: $selectedTabColor;
            }
        }
    }
}

//Forms
form {
	label {
		color: lighten($baseTextColor, 15%);
		display: block;
		span {
			font-size: 0.85em;
			color: lighten($baseTextColor, 40%);
		}
	}
	label.large {
		font-size: 1.15em;
	}
	label.small {
		font-size: 0.85em;
	}
	input[type="text"] {
		@include border-radius(3px);
		@include box-shadow(-1px -1px 0 rgba(225, 225, 226, 1));
		border: 1px solid #BFBFBF;
		padding: 3px 0;
	}
	select {
		@extend input[type="text"];
		padding-right: 3px;
	}
	.buttongroup {
		margin-top: 0.5em;
	}
}

//Calendar
#w4 .calendar_nav {
    background: lighten($cellColor, 5%);
    text-align: center;
    border: {
        color: lighten($borderColor, 5%);
        style: solid;
        top-width: 1px;
        bottom-width: 1px;
    }
    margin-bottom: 0.5em;
    h2 {
        display: inline-block;
        margin: 0.25em;
        color: #666;
        font-size: 1em;
        font-weight: bold;
        @include arial;
    }
    .prev_month, .next_month {
        text-decoration: none;
        opacity: 0.7;
        &:hover, &:focus {
            opacity: 1;
        }
    }
}

#w4 .calendar {
    table-layout: fixed;
    text-align: center;
    width: 100%;
    color: #666;
    border-collapse: collapse;
    border-spacing: 0;
    thead {
        font-size: 0.75em;
    }
    tbody {
        font-size: 0.85em;
        tr {
            vertical-align: baseline;
            td {
                border: 1px solid #DDD;
                background: $cellColor;
                vertical-align: middle;
                @include box-shadow(-0.2em -0.2em 0.3em rgba(0,0,0,0.04) inset);
                span, a {
                    padding: 0.7em 0.4em;
                    display: block;
                }
                a {
                    text-decoration: none;
                    font-weight: bold;
                    &:hover, &:focus {
                        background: darken($cellColor, 20%);
                        color: #FFF;
                    }
                }
                &.past_date {
                    background: lighten($cellColor, 5%);
                }
                &.selected_day {
                    background: darken($cellColor, 40%);
                    color: #FFF;
                    a {
                        color: #FFF;
                    }
                }
                &.prev_month, &.next_month {
                    background-color: lighten($cellColor, 40%);
                }
            }
        }
    }
}

//TEMPORARY

h3.comment {
	color: lighten($baseTextColor, 50%);
	margin-bottom: 1em;
    margin-top: 1em;
}

h3.comment::before {
	content: "//";
}