$baseTextColor: #505050;
/* 
http://meyerweb.com/eric/tools/css/reset/ 
2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset */

/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* End clear */

/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after
    {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
    }

.clearfix
    {
    display: inline-block;
    }

* html .clearfix
    {
    height: 1%;
    }

.clearfix
    {
    display: block;
    }
/* End clearfix */

/* Helpers */

.offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.righttext {
  text-align: right;
}

.centertext {
  text-align: center;
}

.chilled {
  color: lighten($baseTextColor, 20%);
}

.heavy {
  font-weight: bold;
  color: darken($baseTextColor, 20%);
}

.large {
  font-size: 1.15em;
}

.small {
  font-size: 0.85em;
}

/* Margins & Padding */

$defaultSpacer: 1em;

.margtop {
  margin-top: $defaultSpacer;
}

.margbottom {
  margin-bottom: $defaultSpacer;
}

.margright {
  margin-right: $defaultSpacer;
}

.margleft {
  margin-left: $defaultSpacer;
}

.margall {
  margin: $defaultSpacer;
}

.padtop {
  padding-top: $defaultSpacer;
}

.padbottom {
  padding-bottom: $defaultSpacer;
}

.padright {
  padding-right: $defaultSpacer;
}

.padleft {
  padding-left: $defaultSpacer;
}

.padall {
  padding: $defaultSpacer;
}


/* Widths */
$i: 0;
@while $i < 100 {
  $i: $i + 5;
  .width#{$i} {width: $i - 0.1%;}
}

/* Sprites */

%sprite {
  background: {
    image: url('../img/sprites.gif');
    repeat: no-repeat;
  }
}

%leftsprite {
  @extend %sprite;
  padding-left: 16px;
}

%rightsprite {
  @extend %sprite;
  padding-right: 16px;
}

.next {
  @extend %rightsprite;
  background-position: 0px 0px;
}

.prev {
  @extend %leftsprite;
  background-position: -16px -16px;
}