// SASS Color Variables
// Tab colors
$selectedTabColor: #336699;
$hoverTabColor: #FF6600;
// Border colors
$borderColor: #CCCCCC;
// Text colors
$headingColor: #D2700E;
$baseTextColor: #505050;
// Shadow colors
$lightTextShadowColor: rgba(255,255,255,0.75);
$darkTextShadowColor: rgba(107, 107, 107, 0.9);
//Button colors
$defaultButton: #d0d0d0;
$primaryButton: #6aa0d6;

// SASS Mixins
@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

/*@mixin box-shadow($x, $y, $size, $color) {
	-moz-box-shadow: $x $y $size $color;
	-webkit-box-shadow: $x $y $size $color;
	box-shadow: $x $y $size $color;
}*/
@mixin box-shadow($shadow...) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin georgia {
	font-family: Georgia, Garamond, "Times New Roman", "MS Serif", "New York", serif;
}

@mixin linear-gradient($topColor, $bottomColor) {
	background-color: mix($topColor, $bottomColor);
	background-image: moz-linear-gradient(top, $topColor, $bottomColor);
	background-image: webkit-gradient(linear, 0 0, 0 100%, from($topColor), to($bottomColor));
	background-image: -webkit-linear-gradient(top, $topColor, $bottomColor);
	background-image: -o-linear-gradient(top, $topColor, $bottomColor);
	background-image: linear-gradient(to bottom, $topColor, $bottomColor);
	background-repeat: repeat-x;
}

@mixin btn-dark($color) {
	@extend .btn;
	@include linear-gradient(lighten($color, 20%), darken($color, 20%));
	color: #ffffff;
	border-color: darken($color, 50%);
	text-shadow: 0 1px 1px $darkTextShadowColor;
}

@mixin btn-light($color) {
	@extend .btn;
	@include linear-gradient(lighten($color, 20%), darken($color, 10%));
	border-color: $color;
}


//Structure
body {
	font: small Arial, Helvetica, sans-serif;
	color: $baseTextColor;
	background-color: #fff;
}

.btn {
	padding: 5px; //Configure these for Prospects
	font-size: 0.85em;
	font-weight: bold;
	color: #333333;
	text-shadow: 0 1px 1px $lightTextShadowColor;
	cursor: pointer;
	line-height: 1.1em;
	border: 1px solid $defaultButton;
	@include linear-gradient(lighten($defaultButton, 20%), darken($defaultButton, 10%));
	@include box-shadow(0px 1px 2px #888888);
	@include border-radius(6px);
}

.btn:hover {@include linear-gradient(lighten($defaultButton, 15%), darken($defaultButton, 10%));}
.btn:active {background: darken($defaultButton, 10%);}

.btn-primary {
	@include btn-dark($primaryButton);
}

.btn-primary:hover {@include linear-gradient(lighten($primaryButton, 15%), darken($primaryButton, 20%));}
.btn-primary:active {background: darken($primaryButton, 20%);}

//Widget
#w4 {
	@include box-shadow(0 5px 5px lighten($borderColor, 10%));
	@include border-radius(5px);
	border: 1px solid $borderColor;
	width: 99%;
	margin: 1em auto;
	margin-top: 1em;
	.inner {
		padding: 1em;
		h2 {
			@include georgia;
			color: $headingColor;
			font-weight: bold;
			font-size: 1.15em;
			margin-bottom: 0.85em;
		}

	}
}

//Lists
ul, ol {
	font-size: 0.85em;
	line-height: 1.3em;
	margin: 2px 0 10px;
	list-style: none;
	li {
		padding: 4px 0;
		border-top: 1px solid #F3F3F3;
		div.left {
			width: 70%;
		}
		div.right {
			text-align: right;
			width: 30%;
		}
		.item {
			line-height: 12px;
			margin: 0 5px;
		}
		.item_heading {
			color: lighten($headingColor, 25%);
			padding-bottom: 3px;
			font-weight: bold;
			margin: 0 5px;
		}
		.primary {
			font-size: 1.1em;
			margin: 0 5px 3px 5px;
		}
		.secondary, .tertiary {
			@extend .primary;
			font-size: 1em;
		}
		.tertiary {
			color: lighten($baseTextColor, 25%);
		}
	}
}

//Forms

form {
	label {
		color: lighten($baseTextColor, 15%);
		display: block;
		span {
			font-size: 0.85em;
			color: lighten($baseTextColor, 40%);
		}
	}
	label.large {
		font-size: 1.15em;
	}
	label.small {
		font-size: 0.85em;
	}
	input[type="text"] {
		@include border-radius(3px);
		@include box-shadow(-1px -1px 0 rgba(225, 225, 226, 1));
		border: 1px solid #BFBFBF;
		padding: 3px 0;
	}
	select {
		@extend input[type="text"];
		padding-right: 3px;
	}
	.buttongroup {
		margin-top: 0.5em;
	}
}

//Calendar

.calendar_nav
    {
    font-size: 1.4em;
    margin-bottom: 0;
    text-align: center;
    color: #666666;
    background-color: #efefef;
    border: 1px solid #e6e6e6;
    border-bottom-width: 0;
    padding: 0.2em 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-radius: 5px 5px 0 0;
    }
.calendar_nav h2 {
    display: inline;
    margin: 0 1em;
    font-size: small;
    }

#main_content .calendar
    {
    table-layout: fixed;
    text-align: center;
    width: 100%;
    }
div.grid_10 .calendar
    {
    
    font-size: x-small;
    }
div.grid_4 .calendar
    {
    
    font-size: xx-small;
    }
.calendar thead {
    background-color: #efefef;
    border: 1px solid #e6e6e6;
    border-top: 0;
    border-bottom: 0;
    color: #666666;
    }
.calendar th{
        background-color: #efefef;    
    }
.calendar tbody a
    {
    display: block;
    }
#main_content .calendar tbody tr
    {
    height: 45px;
    }
#main_content div.grid_4 .calendar tbody tr
    {
    height: 25px;
    }
#main_content .calendar tbody td
    {
    background-color: #ececec;
    background-image: url(/assets/images/bgs/corner_bevel.gif);
    background-position: top right;
    border: 1px solid #dddddd;
    box-shadow: -0.2em -0.2em 0.3em rgba(0, 0, 0, 0.04) inset;
    font-size: 1.5em;
    vertical-align: middle;
    }

#main_content div.grid_4 .calendar tbody td
    {
    font-size: 1.3em;
    padding: 0.4em;
    }

#main_content .calendar tbody td.prev_month, 
#main_content .calendar tbody td.next_month
    {
    background-color: #ddd;
    background-image: url(/assets/images/bgs/corner_bevel_stripey.gif);
    }
#main_content .calendar td.today
    {
    background-color: #fff;
    }
#main_content .calendar td.past_date
    {
    background-color: #f9f9f9;
    color: #888;
    }
#main_content .calendar td.selected_day
    {
    background-color: #777;
    background-image: none;
    color: #fff;
    }
#main_content .calendar td.selected_day a
    {
    color: #fff;
    }
.calendar_date
    {
    padding: 1.5em 0;
    }


#main_content #calendar_results
    {
    margin-left: 0;
    }
#calendar_results ul
    {
    margin: 0;
    padding: 0;
    }
#calendar_results li
    {
    border-top: 1px solid #ddd;
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
    }
#calendar_results h3
    {
    margin-top: 0;
    padding: 1.5em 0;
    }
#calendar_results li ul, 
#calendar_results li dl, 
#calendar_results li dt, 
#calendar_results li dd
    {
    margin: 0;
    padding: 0;
    }
#calendar_results li li
    {
    border: none;
    margin: 0;
    padding: 0;
    }
.results_col1, 
.results_col2, 
.results_col3, 
.results_col4, 
.results_col5
    {
    display: inline;
    float: left;
    height: 85px;
    height: auto !important;
    margin: 0 15px 0 5px;
    min-height: 85px;
    padding: 0 10px 5px 0;
    }
.results_col1
    {
    margin-left: 0;
    width: 6.6%;
    }
.results_col2, 
.results_col4
    {
    width: 16.6%;
    }
.results_col3
    {
    border-right: 1px dashed #c4c4c4;
    width: 16.45%;
    }
.results_col5
    {
    border-left: 1px dashed #c4c4c4;
    margin-right: 0;
    width: 26.75%;
    }
#calendar_results li dt
    {
    color: #999;
    font-family: tahoma,Arial,Helvetica,sans-serif;
    font-size: 0.85em;
    font-weight: normal;
    letter-spacing: 1px;
    }
#calendar_results li dd
    {
    padding-bottom: 0.85em;
    }
.attendance dd
    {
    font-size: 2.50em;
    }
.actions
    {
    font-size: 0.85em;
    }
.actions a
    {
    display: block;
    height: 1.7em;
    margin-left: 20px;
    padding-bottom: 0.4em;
    }



.calendar_event_list .event_available
    {
    color: #4F8A10;
    }
    
.calendar_event_list .event_unavailable
    {
    color: #D8000C;
    }

//TEMPORARY

h3 {
	color: lighten($baseTextColor, 50%);
	margin-bottom: 1em;
}

h3::before {
	content: "//";
}