body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: #505050;
  background-color: #fff;
}

a:link {
  color: #003366;
}

a:hover, a:focus {
  color: #ff6600;
}

.btn, .btn-primary {
  padding: 5px;
  font-size: 0.85em;
  font-weight: bold;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  line-height: 1.1em;
  border: 1px solid #d0d0d0;
  background-color: #dadada;
  background-image: moz-linear-gradient(top, white, #b6b6b6);
  background-image: webkit-gradient(linear, 0 0, 0 100%, from(white), to(#b6b6b6));
  background-image: -webkit-linear-gradient(top, white, #b6b6b6);
  background-image: -o-linear-gradient(top, white, #b6b6b6);
  background-image: linear-gradient(to bottom, white, #b6b6b6);
  background-repeat: repeat-x;
  -moz-box-shadow: 0px 1px 2px #888888;
  -webkit-box-shadow: 0px 1px 2px #888888;
  box-shadow: 0px 1px 2px #888888;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.btn:hover, .btn-primary:hover, .btn:focus, .btn-primary:focus {
  background-color: #d6d6d6;
  background-image: moz-linear-gradient(top, #f6f6f6, #b6b6b6);
  background-image: webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#b6b6b6));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #b6b6b6);
  background-image: -o-linear-gradient(top, #f6f6f6, #b6b6b6);
  background-image: linear-gradient(to bottom, #f6f6f6, #b6b6b6);
  background-repeat: repeat-x;
}
.btn:active, .btn-primary:active {
  background: #b6b6b6;
}

.btn-primary {
  background-color: #74a0cb;
  background-image: moz-linear-gradient(top, #bad3ec, #2f6dab);
  background-image: webkit-gradient(linear, 0 0, 0 100%, from(#bad3ec), to(#2f6dab));
  background-image: -webkit-linear-gradient(top, #bad3ec, #2f6dab);
  background-image: -o-linear-gradient(top, #bad3ec, #2f6dab);
  background-image: linear-gradient(to bottom, #bad3ec, #2f6dab);
  background-repeat: repeat-x;
  color: #ffffff;
  border-color: #0e2033;
  text-shadow: 0 1px 1px rgba(107, 107, 107, 0.9);
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #6a99c9;
  background-image: moz-linear-gradient(top, #a6c6e7, #2f6dab);
  background-image: webkit-gradient(linear, 0 0, 0 100%, from(#a6c6e7), to(#2f6dab));
  background-image: -webkit-linear-gradient(top, #a6c6e7, #2f6dab);
  background-image: -o-linear-gradient(top, #a6c6e7, #2f6dab);
  background-image: linear-gradient(to bottom, #a6c6e7, #2f6dab);
  background-repeat: repeat-x;
}
.btn-primary:active {
  background: #2f6dab;
}

#w4 {
  -moz-box-shadow: 0 5px 5px #e6e6e6;
  -webkit-box-shadow: 0 5px 5px #e6e6e6;
  box-shadow: 0 5px 5px #e6e6e6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin: 0 auto;
  background: white;
}
#w4 .inner {
  padding: 1em;
}
#w4 .inner h2 {
  font-family: Georgia, Garamond, "Times New Roman", "MS Serif", "New York", serif;
  color: #d2700e;
  font-weight: bold;
  font-size: 1.15em;
  margin-bottom: 0.85em;
}
#w4 p {
  padding-bottom: 0.5em;
}

#w4 ul {
  font-size: 0.85em;
  line-height: 1.3em;
  margin: 2px 0 10px;
  list-style: none;
}
#w4 ul li {
  padding: 4px 0;
  border-top: 1px solid #F3F3F3;
}
#w4 ul li div.left {
  width: 70%;
}
#w4 ul li div.right {
  text-align: right;
  width: 30%;
}
#w4 ul li .item {
  line-height: 12px;
  margin: 0 5px;
}
#w4 ul li .item_heading {
  color: #f5b06a;
  padding-bottom: 3px;
  font-weight: bold;
  margin: 0 5px;
}
#w4 ul li .primary, #w4 ul li .secondary, #w4 ul li .tertiary {
  font-size: 1.1em;
  margin: 0 5px 3px 5px;
}
#w4 ul li .secondary, #w4 ul li .tertiary {
  font-size: 1em;
}
#w4 ul li .tertiary {
  color: #909090;
}

ul.tabs {
  display: block;
  list-style-type: none;
  margin: 0;
  margin-top: 1em;
  padding: 0;
  z-index: 1;
  font-size: 0.85em;
  padding-left: 0.5em;
}
ul.tabs li {
  float: left;
  margin: 0 2px 0 3px;
  margin-bottom: -1px;
}
ul.tabs li a {
  display: block;
  padding: 6px 12px 5px;
  font-weight: bold;
  text-decoration: none;
  color: #6699cc;
  font-size: 1.15em;
}
ul.tabs li a:hover, ul.tabs li a:focus, ul.tabs li a:active {
  color: #ff6600;
}
ul.tabs li.selected {
  border: 1px solid #cccccc;
  border-bottom: none;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: white;
}
ul.tabs li.selected a {
  color: #336699;
}

form label {
  color: #767676;
  display: block;
}
form label span {
  font-size: 0.85em;
  color: #b6b6b6;
}
form label.large {
  font-size: 1.15em;
}
form label.small {
  font-size: 0.85em;
}
form input[type="text"], form select {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: -1px -1px 0 #e1e1e2;
  -webkit-box-shadow: -1px -1px 0 #e1e1e2;
  box-shadow: -1px -1px 0 #e1e1e2;
  border: 1px solid #BFBFBF;
  padding: 3px 0;
}
form select {
  padding-right: 3px;
}
form .buttongroup {
  margin-top: 0.5em;
}

#w4 .calendar_nav {
  background: #f9f9f9;
  text-align: center;
  border-color: #d9d9d9;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-bottom: 0.5em;
}
#w4 .calendar_nav h2 {
  display: inline-block;
  margin: 0.25em;
  color: #666;
  font-size: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#w4 .calendar_nav .prev_month, #w4 .calendar_nav .next_month {
  text-decoration: none;
  opacity: 0.7;
}
#w4 .calendar_nav .prev_month:hover, #w4 .calendar_nav .prev_month:focus, #w4 .calendar_nav .next_month:hover, #w4 .calendar_nav .next_month:focus {
  opacity: 1;
}

#w4 .calendar {
  table-layout: fixed;
  text-align: center;
  width: 100%;
  color: #666;
  border-collapse: collapse;
  border-spacing: 0;
}
#w4 .calendar thead {
  font-size: 0.75em;
}
#w4 .calendar tbody {
  font-size: 0.85em;
}
#w4 .calendar tbody tr {
  vertical-align: baseline;
}
#w4 .calendar tbody tr td {
  border: 1px solid #DDD;
  background: #ececec;
  vertical-align: middle;
  -moz-box-shadow: -0.2em -0.2em 0.3em rgba(0, 0, 0, 0.04) inset;
  -webkit-box-shadow: -0.2em -0.2em 0.3em rgba(0, 0, 0, 0.04) inset;
  box-shadow: -0.2em -0.2em 0.3em rgba(0, 0, 0, 0.04) inset;
}
#w4 .calendar tbody tr td span, #w4 .calendar tbody tr td a {
  padding: 0.7em 0.4em;
  display: block;
}
#w4 .calendar tbody tr td a {
  text-decoration: none;
  font-weight: bold;
}
#w4 .calendar tbody tr td a:hover, #w4 .calendar tbody tr td a:focus {
  background: #b9b9b9;
  color: #FFF;
}
#w4 .calendar tbody tr td.past_date {
  background: #f9f9f9;
}
#w4 .calendar tbody tr td.selected_day {
  background: #868686;
  color: #FFF;
}
#w4 .calendar tbody tr td.selected_day a {
  color: #FFF;
}
#w4 .calendar tbody tr td.prev_month, #w4 .calendar tbody tr td.next_month {
  background-color: white;
}

h3.comment {
  color: #d0d0d0;
  margin-bottom: 1em;
  margin-top: 1em;
}

h3.comment::before {
  content: "//";
}
